.about {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.flexDirection {
  flex-flow: column;
}

.centerText {
  text-align: left;
}

.imgRightGap {
  margin-right: 2em;
}

@media screen and (max-width: 750px) {
  .flexDirection {
    flex-flow: row;
  }

  .imgRightGap {
    margin-right: 0em;
  }

  .centerText {
    text-align: center;
  }
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selfie {
  --imgDimension: 12em;
  height: var(--imgDimension);
  width: var(--imgDimension);
  padding: 2em;
  border-radius: var(--CornerRadius);

  --outline-size: 2px;
  outline: var(--outline-size) solid white;
  outline-offset: calc(var(--outline-size) * -1);

  aspect-ratio: 4000/4000;
  background-size: cover;
  background-image: url("./../res/goodPhoto.jpg");
}

.buttonGap {
  margin-left: 2em;
}
