.aboutContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.imgContainer {
  margin-right: 2em;
}

.contentContainer {
  text-align: left;
}

.selfie {
  --imgDimension: 12em;
  height: var(--imgDimension);
  width: var(--imgDimension);
  padding: 2em;
  border-radius: var(--CornerRadius);

  --outline-size: 2px;
  outline: var(--outline-size) solid white;
  outline-offset: calc(var(--outline-size) * -1);

  aspect-ratio: 4000/4000;
  background-size: cover;
  background-image: url("./../res/goodPhoto.jpg");
}

@media screen and (max-width: 750px) {
  .imgContainer {
    margin-right: 0em;
  }

  .aboutContainer {
    flex-flow: column;
  }

  .contentContainer {
    text-align: center;
  }
}
