.smolSpace {
  margin-right: 0.1em;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  font-family: "JetBrains Mono", monospace;
  color: var(--Black);
}

.header {
  margin: 0px;
}

.subHeader {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "JetBrains Mono", monospace;
  color: var(--Black75);
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .subHeader {
    font-size: 0.9rem;
  }
}
