.titleFontSize {
  font-size: 2rem;
}

@media screen and (min-width: 550px) {
  .titleFontSize {
    font-size: 3rem;
  }
}

.smolSpace {
  margin-right: 0.1em;
}

.title {
  font-weight: 300;
  font-family: "JetBrains Mono", monospace;
  color: white;
}

.header {
  margin: 0px;
}

.subHeader {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "JetBrains Mono", monospace;
  color: var(--Black50);
  margin-top: 0px;
}
