.titleContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
}

.projectsContainer {
  width: min(1280px, 80%);
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.footNote {
  color: var(--Black10);
  text-align: right;
  cursor: pointer;
  margin: 0;
}

.openGLPathfinderCard {
  background-color: #770000;
}

.openGLPathfinderCard:hover {
  background-color: #6b0000;
}

.rayTracerCard {
  background-color: #6b0025;
}

.rayTracerCard:hover {
  background-color: #5a0020;
}

.gyg {
  background-color: rgb(223, 200, 0, 1);
}

.gyg:hover {
  background-color: rgb(223, 200, 0, 1);
}

.gpt {
  background-color: #113344;
}

.gpt:hover {
  background-color: #002233;
}

.origin {
  background-color: rgb(199, 96, 0);
}

.origin:hover {
  background-color: rgb(185, 90, 0);
}

.loap {
  background-color: rgb(128, 26, 218);
}

.loap:hover {
  background-color: rgb(121, 23, 206);
}

.vpeqCard {
  background-color: rgb(114, 114, 114);
}

.vpeqCard:hover {
  background-color: rgb(100, 100, 100);
}

.letCommentsAreBadCard {
  background-color: rgb(218, 141, 26);
}

.letCommentsAreBadCard:hover {
  background-color: rgb(204, 132, 25);
}
