.titleContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
}

.projectsContainer {
  width: min(1280px, 80%);
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.footNote {
  color: var(--Black10);
  text-align: right;
  cursor: pointer;
  margin: 0;
}

.openGLPathfinderCard {
  background-color: #626262cc;
}

.openGLPathfinderCard:hover {
  background-color: #626262aa;
}

.rayTracerCard {
  background-color: #6b0025cc;
}

.rayTracerCard:hover {
  background-color: #6b0025aa;
}

.gyg {
  background-color: rgb(196, 176, 0);
}

.gyg:hover {
  background-color: rgb(175, 158, 0);
}

.gpt {
  background-color: #113344;
}

.gpt:hover {
  background-color: #002233;
}

.origin {
  background-color: rgb(199, 96, 0);
}

.origin:hover {
  background-color: rgba(170, 64, 0);
}

.loap {
  background-color: rgba(151, 31, 255, 0.4);
}

.loap:hover {
  background-color: rgba(151, 31, 255, 0.3);
}

.vpeqCard {
  background-color: rgb(114, 114, 114);
}

.vpeqCard:hover {
  background-color: rgb(100, 100, 100);
}

.letCommentsAreBadCard {
  background-color: rgb(218, 141, 26);
}

.letCommentsAreBadCard:hover {
  background-color: rgb(204, 132, 25);
}
