.titleContainer {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
}

.projectsContainer {
  width: min(1280px, 80%);
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.footNote {
  color: var(--Black);
  text-align: right;
  cursor: pointer;
  margin: 0;
}

.openGLPathfinderCard {
  background-color: #ffcbcb;
}

.openGLPathfinderCard:hover {
  background-color: #ffbbbb;
}

.rayTracerCard {
  background-color: #ffccde;
}

.rayTracerCard:hover {
  background-color: #ffb8d1;
}

.bilue {
  background-color: #98d9ff;
}

.bilue:hover {
  background-color: #78cdff;
}

.dxc {
  background-color: rgb(208, 167, 255);
}

.dxc:hover {
  background-color: rgb(198, 150, 254);
}

.gyg {
  background-color: rgb(255, 242, 124);
}

.gyg:hover {
  background-color: rgb(252, 237, 102);
}

.gpt {
  background-color: #9edfff;
}

.gpt:hover {
  background-color: #6dceff;
}

.origin {
  background-color: rgb(255, 201, 150);
}

.origin:hover {
  background-color: rgb(255, 180, 110);
}

.loap {
  background-color: rgb(231, 175, 255);
}

.loap:hover {
  background-color: rgb(237, 158, 255);
}

.vpeqCard {
  background-color: rgb(209, 209, 209);
}

.vpeqCard:hover {
  background-color: rgb(201, 201, 201);
}

.letCommentsAreBadCard {
  background-color: rgb(255, 228, 190);
}

.letCommentsAreBadCard:hover {
  background-color: rgb(255, 220, 167);
}
