.appGridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  max-width: 1000px;
  width: 100%;
}

.view1 {
  grid-column-start: 2;
  grid-column-end: 12;
  display: table;
  height: 100vh;
}

.view2 {
  grid-column-start: 2;
  grid-column-end: 12;
}

.view3 {
  grid-column-start: 4;
  grid-column-end: 10;
  height: 100vh;
}

.cardGap {
  margin-top: 32px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}

.blueCard {
  background-color: rgb(63, 50, 94);
  transition: var(--TransitionTime);
}

.blueCard:hover {
  background-color: rgb(71, 53, 104);
  transition: var(--TransitionTime);
  cursor: pointer;
}
