.appGridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

.view1 {
  grid-column-start: 2;
  grid-column-end: 12;
  display: table;
  height: 100vh;
}

.view2 {
  grid-column-start: 2;
  grid-column-end: 12;
}

.view3 {
  grid-column-start: 2;
  grid-column-end: 12;
  display: table;
  height: 100vh;
}

.headerContainer {
  display: table-cell;
  vertical-align: middle;
}

.header {
  margin-bottom: 8em;
}

.cardGap {
  margin-top: 2em;
}

.bottomCard {
  margin-bottom: 2em;
}

.buttonGap {
  margin-left: 2em;
}
