.appGridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 10px;
}

.downArrowContainer {
  cursor: pointer;
}

.fadeInArrow {
  opacity: 0;
  animation: fadein ease-in var(--FadeTime) forwards;
  animation-delay: 2s;
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fadeOutArrow {
  opacity: 1;
  animation: fadeout ease-in var(--FadeTime) forwards;
  animation-delay: 0s;
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.downArrow {
  color: white;
  font-size: 5rem;
  cursor: pointer;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.header {
  max-width: 1000px;
  width: 100%;

  opacity: 0;
  animation: fadein ease-in var(--FadeTime) forwards;
  animation-delay: var(--TransitionTime);
}

.view1 {
  grid-column-start: 2;
  grid-column-end: 12;
  display: table;
  height: 100vh;
}

.view2 {
  /* background-color: aliceblue; */
  grid-column-start: 2;
  grid-column-end: 12;
  padding: 32px;
  height: fit-content;
}

.view3 {
  /* background-color: aliceblue; */
  grid-column-start: 4;
  grid-column-end: 10;
  height: 100vh;
}

.cardGap {
  margin-top: 32px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}

.flexDirection {
  flex-flow: row;
}

.cardImageSizeHorizontal {
  height: 100%;
  width: max-content;
}

.cardImageSizeVertical {
  height: 100%;
  width: max-content;
}

.cardImage {
  margin-right: 2em;
  box-shadow: 1px 2px 8px var(--Black);
}

@media screen and (max-width: 750px) {
  .flexDirection {
    flex-flow: column;
  }

  .cardImageSizeHorizontal {
    height: max-content;
    width: 100%;
  }

  .cardImageSizeVertical {
    height: 100%;
    width: max-content;
  }

  .view2Columns {
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .cardContainerVertical {
    justify-content: center;
    align-items: center;
  }

  .cardContainerHorizontal {
    justify-content: center;
  }
}

.cardContainerVertical {
  height: 100%;
  width: 100%;
  display: flex;
}

.cardContainerHorizontal {
  height: 100%;
  width: 100%;
  display: flex;
}

.oglp {
  background-color: #2d2d2d78;
  transition: var(--TransitionTime);
}

.oglp:hover {
  background-color: #2a2a2a69;
  transition: var(--TransitionTime);
  cursor: pointer;
}

.loap {
  background-color: #971fff78;
  transition: var(--TransitionTime);
}

.loap:hover {
  background-color: #971fff69;
  transition: var(--TransitionTime);
  cursor: pointer;
}

.rayTracer {
  background-color: #c500488d;
  transition: var(--TransitionTime);
}

.rayTracer:hover {
  background-color: #c500486a;
  transition: var(--TransitionTime);
  cursor: pointer;
}

.vpeq {
  background-color: #bbbbbb78;
  transition: var(--TransitionTime);
}

.vpeq:hover {
  background-color: #a7a7a769;
  transition: var(--TransitionTime);
  cursor: pointer;
}

.wave {
  aspect-ratio: 960/1620;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./res/waves.svg");
}

.projects {
  width: 90%;
}

.projectsContainer {
  /* width: 90%; */
  /* margin-left: 10px; */
  display: flex;
  justify-content: center;
}
