@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;400;500;700;800&display=swap");

/* --- Globals --- */

:root {
  --Primary: #a11d6a;
  --Secondary: #951fff;
  --Linear: linear-gradient(to right, var(--Primary), var(var(--Secondary)));
  --Error: #e00248;

  --Black: #262626;
  --Black90: #333333;
  --Black80: #444444;
  --Black75: #666666;
  --Black50: #a6a6a6;
  --Black25: #e6e6e6;
  --Black10: #f2f2f2;

  --CornerRadius: 0.5em;

  --CardHeight: 128px;
  --CardHeightNarrow: 512px;
  --CardWidth: min(1280px, 100%);

  --TransitionTime: 0.2s;
  --FadeTime: 0.5s;
}

.whiteOutline {
  --outline-size: 2px;
  outline: var(--outline-size) solid white;
  outline-offset: calc(var(--outline-size) * -1);
}

.greyOutline {
  --outline-size: 2px;
  outline: var(--outline-size) solid var(--Black75);
  outline-offset: calc(var(--outline-size) * -1);
}

.marginTop2em {
  margin-top: 2em;
}

.Monospace {
  font-size: 0.875rem;
  font-weight: 300;
  font-family: "JetBrains Mono", monospace;
  color: white;
}

.Paragraph,
p {
  font-size: 0.9rem;
  font-weight: 100;
  font-family: "JetBrains Mono", monospace;
  color: white;
}

.h1 {
  font-size: 7.063rem;
  font-weight: 600;
  font-family: "JetBrains Mono", monospace;
  color: white;
}

.h2 {
  font-size: 5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.h3 {
  font-size: 3rem;
  font-weight: 1000;
  font-family: "Poppins", sans-serif;
  color: white;
}

.h4 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.h5 {
  font-size: 1.75rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  color: var(--Black50);
}

.h6 {
  font-size: 1rem;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  color: var(--Black75);
}

html,
body {
  background: #111111;
  scrollbar-width: none;
  scroll-behavior: smooth;
  /* height: calc(100vh - 40px); */
  margin: 0px;
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
