.button {
    --dimension: 20px;
    --dimension-hover: 25px;
    height: var(--dimension);
    width: var(--dimension);
    margin-bottom: 20px;
    border-radius: var(--dimension);
    background-color: var(--Black50);
    transition: 0.2s;
}

.button:hover {
    --dimension-hover: 25px;
    background-color: white;
    /* height: var(--dimension-hover); */
    /* width: var(--dimension-hover); */
}
