.RPButton {
  color: var(--Black10);
  background-color: var(--Black90);
  border-radius: var(--CornerRadius);
  padding: 1em;
  border-color: var(--Black10);
  border-style: none;
  transition: var(--TransitionTime);
}

.RPButton:hover {
  background-color: var(--Black80);
  transition: var(--TransitionTime);
  /* transform: scale(1.1); */
  cursor: pointer;
}
