.RPButton {
  color: var(--Black10);
  background-color: var(--Black90);
  border-radius: var(--CornerRadius);
  padding: 1em;
  border-color: var(--Black10);
  border-style: none;
  transition: 0.2s;
}

.RPButton:hover {
  background-color: var(--Black80);
  transition: 0.2s;
  cursor: pointer;
}
