.RPCard {
  color: var(--Black);
  background-color: var(--Black);
  border-radius: var(--CornerRadius);
  padding: 2em;
  cursor: pointer;

  /* TODO: make this a variable */
  border-width: 2px;
  border-color: var(--Black90);
  border-style: solid;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  transition: var(--TransitionTime);

  height: var(--CardHeight);
  width: 100%;
  display: flex;
  align-self: center;

  box-shadow: 2px 2px 4px var(--Black50);
}

.RPCard:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 8px var(--Black75);
}

.cardContentContainer {
  width: 100%;
  display: flex;
  align-items: center;
}

.cardImage {
  height: 100%;
  width: auto;
  margin-right: 2em;

  background-color: var(--Black90);
  border-radius: var(--CornerRadius);
  border-width: 2px;
  border-color: var(--Black90);
  border-style: solid;
}

@media screen and (max-width: 750px) {
  .RPCard {
    height: var(--CardHeightNarrow);
  }

  .RPCard:hover {
    box-shadow: 2px 2px 8px var(--Black75);
  }

  .cardContentContainer {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .cardImage {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 580px) {
  .cardImage {
    height: auto;
    width: auto;
    max-width: 256px;
    max-height: 256px;
    margin-right: 0px;
  }

  /* assumption is that people with a < 580px width device is a touch device */
  .RPCard:hover {
    transform: scale(1);
    box-shadow: 2px 2px 8px var(--Black75);
  }
}
